<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a Game</title>
  </head>
  <body>
    <h3>Add a Game!</h3>
    <form class="add" action="/submit" method="post">
      <p>Title: <input type="text" name='title'></p>
      <input type='submit'>
    </form>  
  </body>
</html>
