<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
    <title>Homepage-Game Library</title>
  </head>
  <body>
    <div class="nav-box">
      <h1><%= @title %></h1>
      <a href='/library'><button class="view-button button">View Games</button></a>
      <a href='add_game'><button class="add-button button">Add New Game</button></a>
      <a href='random'><button class="random-button button">Random Game</button></a>
    </div>
  </body>
</html>
