<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h3>My Games</h3>
    
    <% @games.each do |game| %> 
      <%= game['title'] %>
      <form action='/remove_game' method='post'>
        <input type='hidden' name='game_pk' value='<%= game['game_pk'] %>'>
        <input type='submit'>
      </form>
    <% end %>
    <a href='/'><button>Back to Home</button></a>
  </body>
</html>
