<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Woo Hoo!</title>
  </head>
  <body>
    <h3>You just added <strong><%= @title %></strong> to your library!</h3>
  </body>
  <a href='/library'><button>Back to Library</button></a>
</html>
