h1 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}

.home-button {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px; 
    font-weight: bold;
}

.home-button:hover {
    background-color: black;
    color: white;
}

table {
    width: 500px;
    border-right: 5px solid rgb(199, 143, 182);
    border-top: 5px solid rgb(199, 143, 182);
    margin-top: 80px;
    margin-left: 35%;
}

th {
    text-align: left;
    padding: 7px;
    font-size: 24px;
    font-family: 'Major Mono Display', monospace;
}

td {
    padding: 7px;
    border-top: 1px dotted rgb(199, 143, 182)
}

.remove-update-button {
    width: 40px;
}